<header class="header">
  <img src="../../../assets/LOGO.png" alt="Logo de la empresa" class="logo" (click)="navigateHome()">

  <p-menubar class="menu-bar">
    <ng-template pTemplate="start">
      <span class="company-logo"></span>
    </ng-template>
    <ng-template pTemplate="end">
      <a (click)="navigateToCart()" class="cart-icon">
        <i class="pi pi-shopping-cart"></i>
        <span *ngIf="cartItemCount > 0" class="cart-badge">{{ cartItemCount }}</span>
      </a>

      <button *ngIf="!isLoggedIn" (click)="router.navigate(['/login'])">Iniciar sesión</button>
      <p-splitButton *ngIf="isLoggedIn" label="Opciones" icon="pi pi-user" [model]="items"></p-splitButton>
    </ng-template>
  </p-menubar>
</header>
