<app-header></app-header>
<app-navbar></app-navbar>

<!-- Caja de búsqueda -->
<div class="search-container">
  <input 
    type="text" 
    placeholder="Buscar productos..." 
    [(ngModel)]="searchTerm" 
    (ngModelChange)="filtrarProductos()"
  >
</div>

<!-- Lista de productos filtrada con imágenes y descripciones -->
<h1>Catálogo de Productos</h1>

<div class="productos-grid">
  <div class="card" *ngFor="let producto of productosFiltrados">
    <img [src]="producto.imageUrl" alt="Imagen de {{ producto.title }}">
    <div class="producto-info">
      <h2>{{ producto.title }}</h2>
      <p>{{ producto.description }}</p>
      <p class="precio">{{ producto.price | currency }}</p>
      <button class="btn btn-primary" (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
    </div>
  </div>
</div>
