.cart-container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .item-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  
  .item-details {
    flex: 1;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  button {
    background-color: #ff5050;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #ff3333;
  }
  
  .cart-icon {
    margin-left: 50px; /* Añade espacio a la izquierda del ícono */
}