<div class="page-layout">
  <!-- Header -->
  <app-header></app-header>

  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Contenedor de productos -->
  <div class="contenido-productos">
    <h2>Productos</h2>
    <div class="productos-grid">
      <div *ngFor="let producto of productos" class="card">
        <div class="card-content">
          <h3>{{ producto.title }}</h3>
          <p>{{ producto.description }}</p>
          <p class="price">${{ producto.price }}</p>
          <!-- Imagen del producto -->
          <img *ngIf="producto.image" [src]="producto.image" alt="Imagen del producto" class="card-img">
          <div class="actions">
            <button (click)="editarProducto(producto)" class="btn btn-primary">Editar</button>
            <button (click)="eliminarProducto(producto._id)" class="btn btn-secondary">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
